-# This partial is rendered by including application.
-# Required local variables:
-#  * scheduled_changes
-# To render this partial:
-#  = render 'delay_henka/web/admin/scheduled_changes/summary_table', scheduled_changes: @changes

%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th Attribute
      %th Old Value
      %th New Value
      %th Schedule At
      %th Time Zone
      %th Action
  %tbody
    - scheduled_changes.each do |change|
      %tr
        %td= change.attribute_name.humanize
        %td= change.old_value
        %td= change.new_value
        %td= change.schedule_at
        %td= change.time_zone
        %td= link_to 'Delete', delay_henka.web_admin_scheduled_change_path(change), method: :delete
